
html, body { 
    background-color: #eeeeee;
}

* {
    font-family: sans-serif;
}

#header, #footer {
    border: 1px solid black;
}

body table {
    width: 600px;
    background-color: #ffffff;
}
